<html>
    <head>
        <title> YoutubeAPI App </title>
        <link rel = "icon" href = "/static/image.png"/>
        
    </head>
    
    
    <body>
        
        <h1> Youtube Video Search </h1>
        <div class = "wrapper">
            <div class = "controls">
                <form>
                    <label> Enter your search Term </label>
                    <input type = "text" id = "search" required/>
                    <button type = "submit "id = "submit"> Submit </button>
                    
                </form>
            </div>
            
            <div class = "results">
            
            </div>
        </div>
            
        
    
    
    
    <script src="https://apis.google.com/js/client.js" type="text/javascript"></script>
    <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
    <script src = "static/index.js"></script>
    </body>



</html>
